@use '../../../assets' as *;
.joinTheTeam {
  padding-top: 4rem;
  @include center;
  flex-direction: column;
  @include pageSectionWidth;
  margin-bottom: 4rem;
  h2 {
    @include fontHeadingTwo;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    @include fontOne;
    max-width: 600px;
    font-weight: 700;
    margin: 1rem;
    @media (max-width: 1150px) {
      max-width: 400px;
    }
  }
}

.newsLetterWrap {
  display: flex;
  flex-direction: column;
  .newsLetterContainer {
    margin: 1.5rem auto;
    display: flex;

    @media (max-width: 620px) {
      flex-direction: column;
    }
    .inputWrap {
      margin-right: 1.5rem;
      @media (max-width: 620px) {
        margin-right: 0;
      }
      input::placeholder {
        color: $grey-01;
      }
      .input {
        @include buttonOne;
        border: 1px solid $grey-01;
        outline: none;
        color: $grey-1;
        &:hover {
          color: $white;
        }
      }
    }

    .buttonWrap {
      @media (max-width: 620px) {
        margin-top: 1rem;
        @include center;
      }
      .button {
        @include buttonOne;
        background-color: $green-1;
        color: $white;
      }
    }
  }
  .newsLetterInfoContainer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    @include fontTwo;
    color: $green-1;
    .newsLetterValid {
      @include fontOne;
    }
    .newsLetterError {
      @include fontOne;
      color: $red-1;
    }
  }
}
