@use '../../../assets/' as *;

.root {
  z-index: 1000;
}

.nav {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  @media (max-width: 700px) {
    padding: 1rem;
  }
}

.mobNavSearch {
  display: none;
}

.navMenu {
  z-index: 100;
  @include center;
  @include boxShadow;

  ul {
    // padding: 0 4rem;
    height: 40px;
    background-color: $green-1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .menuButton {
      display: none;
    }
    .link {
      color: $white;
      @include navFont;
    }
    .active {
      color: $white-opacity;
      @include navFont;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid $white;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        bottom: -2px;
        left: -8px;
        width: 6px;
        height: 6px;
      }
    }
  }
  .donate {
    display: none;
    @media (max-width: 700px) {
      display: block;
      @include buttonOne;
      background-color: $white;
      margin: 1rem auto;
      &:hover {
        color: $white;
      }
    }
  }

  @media (max-width: 700px) {
    position: absolute;
    flex-direction: column;
    top: 41px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 3px;
    width: 100%;
    padding: 0;
    height: 100%;
    background-color: #00000040;
    backdrop-filter: blur(0.8px);
    -webkit-backdrop-filter: blur(0.8px);
    cursor: pointer;

    ul {
      position: relative;
      min-height: 370px;
      width: 50%;
      @include center;
      flex-direction: column;
      @include boxShadow;
      min-width: 200px;
      .active,
      .link {
        margin: 5px;
      }

      .menuButton {
        position: absolute;
        top: 10px;
        right: 10px;
        display: block;
      }
    }
  }
}

.navShow {
  transform: translateX(0);
  -webkit-transform: translatX(0);
  transition: 0ms;
  opacity: 1;
}

.navHide {
  transform: translateX(0);
  -webkit-transform: translatX(0);

  @media (max-width: 700px) {
    opacity: 0;
    animation-name: menu-hide;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
  }
  @keyframes menu-hide {
    0% {
      transform: translateX(0);
      -webkit-transform: translatX(0);
      opacity: 1;
    }
    50% {
      opacity: 0;
      transform: translateX(0);
      -webkit-transform: translatX(0);
    }

    100% {
      transform: translateX(-110%);
      -webkit-transform: translatX(-110%);
    }
  }
}

.navShowLinks {
  transform: translateX(0);
  -webkit-transform: translatX(0);
  transition: 500ms;
  opacity: 1;
}

.navHideLinks {
  transform: translateX(0);
  -webkit-transform: translatX(0);

  @media (max-width: 700px) {
    opacity: 0;
    transform: translateX(-110%);
    -webkit-transform: translatX(-110%);
    transition: 500ms;
  }
}

.menu {
  position: absolute;
  top: 65px;
  right: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0px;

  @media (max-width: 700px) {
    display: flex;
  }
}

.menuButton {
  .line {
    stroke: $white;
  }
}

.line {
  fill: none;
  stroke: $grey-1;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
