@use '../../../assets/' as *;
.nav {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

.mobNavSearch {
  display: none;
}

.navMenu {
  padding: 0 4vw;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $green-1;
  .link {
    color: $white;
    @include navFont;
  }
  .active {
    color: $white;
    @include navFont;
    position: relative;
    opacity: 0.6;
    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid $white;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 10px;
    }
  }
  @media (max-width: 700px) {
    position: absolute;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3px;
    @include boxShadow;
    width: 50%;
    .active,
    .link {
      margin: 5px;
      margin-left: calc(50% - 42px);
      text-align: left;
    }
  }
  @media (max-width: 700px) {
    width: 100%;
  }
}

.navShow {
  transform: translateX(0);
  -webkit-transform: translatX(0);
  transition: 500ms;
  opacity: 1;
}

.navHide {
  transform: translateX(0);
  -webkit-transform: translatX(0);

  @media (max-width: 700px) {
    opacity: 0;
    transform: translateX(-110%);
    -webkit-transform: translatX(-110%);
    transition: 500ms;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  padding: 0px;
  height: 39px;
  background-color: $white;

  @media (max-width: 700px) {
    display: flex;
  }
}

.line {
  fill: none;
  stroke: $green-1;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
