@use '../../../assets' as *;
.root {
  @apply relative;
}

.list {
  @apply flex flex-row items-center justify-items-end h-full;
}

.item {
  @apply mr-6 cursor-pointer relative transition ease-in-out duration-100 flex items-center outline-none text-primary;
  &:hover {
    @apply text-accent-6 transition scale-110 duration-100;
  }

  &:last-child {
    @apply mr-0;
  }

  &:focus,
  &:active {
    @apply outline-none;
  }
}

.bagCount {
  @apply text-secondary absolute rounded-full flex items-center justify-center font-bold text-xs;
  padding-left: 2px;
  padding-right: 2px;
  min-width: 1rem;
  min-height: 1rem;
  background-color: $green-1;
  left: -5px;
  bottom: -1px;
}

.avatarButton {
  @apply inline-flex justify-center rounded-full;
}

.avatarButton:focus {
  @apply outline-none;
}
