{
  "extends": ["next", "plugin:prettier/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmasFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/no-unescaped-entities": "off"
  }
}
