@use '../../../assets' as *;
.searchWrap {
  padding: 0 17px;
  width: 100%;
}

.root {
  @apply relative text-sm bg-accent-0 text-base w-full transition-colors duration-150;
  border: 1px solid $grey-01;
}

.input {
  @apply bg-transparent px-3 py-2 appearance-none w-full transition duration-150 ease-in-out pr-10;
}

.input::placeholder {
  @include fontOne;
  color: #53575a80;
  font-size: 15px;
  @media (max-width: 1750px) {
    font-size: 15px;
  }
}

.input:focus {
  @apply outline-none;
}

.iconContainer {
  @apply absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none;
}

.icon {
  height: 20px;
  width: 20px;
  color: $grey-1;
}

@screen sm {
  .input {
    min-width: 300px;
  }
}
