@use "../../../assets" as *;
.swatch {
  box-sizing: border-box;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  outline: none;
  @include center;
  padding: 0;
}

.swatch::before,
.swatch::after {
  box-sizing: border-box;
}

.active {
  position: relative;
  border: 2px solid $grey-1;
  &::after {
    content: '';
    background-image: url('../../../public/tick.svg');
    height: 12px;
    width: 12px;
    background-color: $grey-1;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    padding: 1px;
  }
}

.textLabel {
  //   @apply w-auto px-4;
  //   min-width: 3rem;
}

.active.textLabel {
  //   @apply border-accent-9 border-2;
  //   padding-right: calc(1rem - 1px);
  //   padding-left: calc(1rem - 1px);
}
