@use '../../assets' as *;
/* Blog Cards Styles appears on the Blog Page */

.blogCard {
  a {
    @include center;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid $grey-01;
    // border-radius: 5px;
    // @include boxShadow;
    padding: 1.5rem;
    .thumbnail {
      position: relative;
      height: 12vw;
      overflow: hidden;
      .overlay {
        @include overlay;
      }
      @media (max-width: 1410px) {
        height: 10vw;
      }
      @media (max-width: 1330px) {
        height: 15vw;
      }
      @media (max-width: 990px) {
        height: 22vw;
      }
      @media (max-width: 750px) {
        height: 18vw;
      }
      @media (max-width: 650px) {
        height: 32vw;
      }
    }
    .titeInfoWrap {
      @include center;
      flex-direction: column;
      height: 7rem;
      margin: 0.5rem 0 0;
      .titleWrap {
        @include center;
        padding: 0 1rem;
        h4 {
          @include fontHeadingFour;
          color: $grey-1;
          text-align: center;
        }
      }
      .info {
        @include center;
        flex-direction: column;
        p {
          text-align: center;
          @include fontThree;
        }
        color: $grey-01;
      }
    }

    .link {
      margin-top: 10px;
      @include center;
      p {
        @include buttonOne;
        background-color: $green-1;
        color: $white;
      }
    }
  }
}

.blogCard:last-child {
  margin-right: 0vw;
}
