@use '../../../assets' as *;
.control {
  z-index: 30;
  // border: 1px solid $white;
  color: $white;
  @include center;
  position: absolute;
  height: 48px;
  left: 2.5rem;
  bottom: 10px;
  left: 0;
  @media (max-width: 770px) {
    right: 0;
  }
}

.leftControl,
.rightControl {
  cursor: pointer;
  padding: 0.5rem;
  background-color: $green-1;
  transition: background-color 0.2s ease;
  border-radius: 100%;
}

.leftControl:hover,
.rightControl:hover {
  background-color: $grey-1;
}

.leftControl:focus,
.rightControl:focus {
  outline: none;
}

.rightControl {
  border: 1px solid $white;
}

.leftControl {
  margin-right: 10px;
}
