@use '../../../assets' as *;
.control {
  @apply bottom-10 shadow-xl select-none;
  z-index: 30;
  border: 1px solid $white;
  color: $white;
  @include center;
  position: absolute;
  height: 48px;
  background-color: $green-1;
  left: 2.5rem;
}

.leftControl,
.rightControl {
  @apply px-9 cursor-pointer;
  transition: background-color 0.2s ease;
}

.leftControl:hover,
.rightControl:hover {
  background-color: $grey-1;
}

.leftControl:focus,
.rightControl:focus {
  @apply outline-none;
}

.rightControl {
  @apply border-l border-accent-0;
}

.leftControl {
  margin-right: -1px;
}
