@use '../../../assets' as *;
.root {
    @apply relative grid items-start gap-1 grid-cols-1 overflow-x-hidden;
    min-height: auto;
}

.sliderContainerWrap {
    padding: 4vw;
    display: grid;
    grid-template-columns: 4fr 2fr;
    @include pageSectionWidth;
}

.main {
    @apply relative px-0 pb-0 box-border flex flex-col col-span-1;
    min-height: 500px;
}

.sidebar {
    @apply flex flex-col col-span-1 mx-auto max-w-8xl px-6 py-6 w-full h-full;
}

.sliderContainer {
    @apply flex items-center justify-center overflow-x-hidden;
}

.imageContainer {
    @apply text-center;
}

.imageContainer>div,
.imageContainer>div>div {
    @apply h-full;
}

.sliderContainer .img {
    @apply h-auto max-h-full object-cover;
}

.button {
    width: 100%;
}

.relatedProductsGrid {
    padding: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    @include pageSectionWidth;
}