@use '../../assets' as *;
.blogs {
  .blogsWelcome {
    padding: 2vw;
    h1 {
      @include fontHeadingTwo;
      color: $grey-1;
      text-align: center;
      margin: 3rem auto;
      @media (max-width: 650px) {
        margin: 1rem auto 0;
      }
    }
    h2 {
      @include fontOne;
      text-align: center;
      width: 50%;
      margin: 3rem auto 0;
      @media (max-width: 650px) {
        width: 80%;
        margin: 1rem auto 0;
      }
    }
  }
}

/* Blogs Page = blogs this page lists the blogs */

.blogsCardWrap {
  box-sizing: border-box;
  margin: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  @media (max-width: 1330px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 990px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 650px) {
    grid-template-columns: 1fr;
    margin: 2rem 1rem 4rem;
  }
  // @media(max-width: 950px) {
  //     margin: 4vw;
  //     grid-template-columns: 45vw 45vw;
  //     grid-gap: 2vw;
  // }
  // @media(max-width: 650px) {
  //     margin: 5vw;
  //     grid-template-columns: 90vw;
  //     grid-gap: 2vw;
  // }
}

/* Individual Blog Posts Styles = blogs/[slugs] */

.blog {
  padding: 8vw;
  @include center;
  flex-direction: column;
  .blogHero {
    @include center;
    margin-bottom: 2vw;
  }
  .textWrap {
    max-width: 1200px;
    h1 {
      @include fontHeadingOne;
      color: $grey-1;
      margin: 4vw 0;
      text-align: center;
    }
    h2 {
      @include fontHeadingTwo;
      color: $grey-1;
      margin: 2vw 0;
    }
    h3 {
      @include fontHeadingThree;
      color: $grey-1;
      margin: 2vw 0;
    }
    p {
      @include fontOne;
      margin: 1vw 0;
      color: $grey-1;
      b {
        font-weight: 700;
        color: inherit;
      }
    }
    div {
      @include center;
    }
    picture {
      margin: 2vw auto;
      display: block;
    }
    blockquote {
      border-left: 10px solid $green-1;
      padding: 1vw;
      margin: 4vw 0;
      background-color: $grey-background-1;
    }
    .author {
      margin-top: 2vw;
      @include fontTwo;
    }
  }
}
