@use '../../assets' as *;
.brandPageWrap {
  z-index: 0;
  @include pageWidth;

  // -----------------
  // HERO SECTION
  // -----------------

  .heroContainer {
    z-index: 1;
    position: relative;

    .heroImage {
      display: none;
      @media (max-width: 620px) {
        display: block;
      }
    }
    .heroOverlay {
      @include overlay;
    }

    .heroTextWrap {
      @include heroTextWrap;
      h1 {
        @include fontHeadingHero;
        position: absolute;
        color: $white;
        text-align: center;
        max-width: 60vw;
        @media (max-width: 590px) {
          max-width: 150px;
        }
      }
    }
  }

  // -----------------
  // GlOBAL STYLES SECTION
  // -----------------

  .heroTwo,
  .firstSection,
  .firstSectionWrap,
  #brandThirdSection {
    @include pageSectionWidth;
  }

  .firstSection,
  .thirdSection,
  .fourthSection {
    @include paddingSection;
    @media (max-width: 700px) {
      flex-direction: column-reverse;
    }
    h2 {
      @include fontHeadingTwo;
      margin-bottom: 1rem;
    }
    p {
      @include fontOne;
      width: 80%;
    }
  }
  .firstSection {
    @include center;
    flex-direction: column;
    .link {
      margin-top: 2rem;
      background-color: $green-1;
      @include buttonOne;
      color: $white;
    }
  }

  .secondSection {
    position: relative;

    #brandSecondSectionText {
      max-width: 600px;
      top: calc(50% - 165px);
      right: 12%;
      position: absolute;
      h2 {
        @include fontHeadingTwo;
        margin-bottom: 1rem;
        color: $white;
        text-align: left;
      }
      p {
        @include fontOne;
        color: $white;
        @media (max-width: 490px) {
          width: 80%;
        }
      }
      .link {
        margin-top: 2rem;
        background-color: $white;
        @include buttonOne;
        color: $grey-1;
        &:hover {
          color: $white;
        }
        @media (max-width: 1150px) {
          margin-top: 1.5rem;
        }
        @media (max-width: 590px) {
          margin-top: 1rem;
        }
      }
      @media (max-width: 1750px) {
        top: calc(50% - 136px);
      }

      @media (max-width: 1450px) {
        max-width: 520px;
        top: calc(50% - 160px);
      }

      @media (max-width: 1150px) {
        top: calc(50% - 99px);
        right: 8%;
      }

      @media (max-width: 800px) {
        max-width: 420px;
        top: calc(50% - 116px);
      }

      @media (max-width: 700px) {
        position: relative;
        top: 0;
        right: 0%;
        @include center;
        flex-direction: column;
        background-color: $green-1;
        position: relative;
        padding: 4rem 0;
        max-width: 100%;
        p {
          width: 80%;
        }
      }
    }

    #brandSecondSectionBackground {
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
  .firstSection,
  .thirdSection,
  .fourthSection,
  .fifthSection {
    h2 {
      text-align: center;
    }

    p {
      @include paraCenterMargin;
      width: 80%;
    }
  }

  .firstSectionWrap {
    display: flex;
    .firstSection {
      width: 50%;
      align-items: flex-start;
      h2,
      p {
        text-align: left;
        width: 100%;
      }
    }
    .firstSectionImage {
      padding: 4.333333rem;
      width: 50%;
      padding-left: 0;
      @include center;
      .imageWrap {
        width: 80%;
        padding-bottom: 4rem;
      }
    }
    @media (max-width: 620px) {
      flex-direction: column;
      .firstSection {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        h2,
        p {
          text-align: center;
        }
      }
      .firstSectionImage {
        margin: 0 auto;
        width: 80%;
        padding: 4rem 4vw;
        @include center;
        @media (max-width: 590px) {
          padding: 1rem 4vw;
        }
        .imageWrap {
          width: 100%;
        }
      }
    }
  }

  #brandThirdSection {
    background-color: $white;
    @include center;
    flex-direction: column;
    .link {
      @include buttonOne;
      background-color: $green-1;
      color: $white;
      margin: 0 auto;
    }
  }

  .fourthSection {
    h2 {
      margin-bottom: 4rem;
    }
  }
  #brandFourthSection {
    background-color: $grey-0;
    .logoWrap {
      width: 90%;
      margin: 0 auto;
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      .logo {
        width: 80%;
      }
    }
  }
}
