@use '../../assets' as *;

.pageWrap {
  @include pageSectionWidth;
  .checkout {
    @include center;
    padding: 4rem;
    h1 {
      @include fontHeadingHero;
    }
  }
}
// green button bottom of sidebar - proceed to checkout
.checkoutButtonText {
  display: block;
  width: 100%;
  text-align: center;
}

// iframe {
//   #checkout-app {
//     .is-embedded {
//       .layout {
//         .stepHeader-counter {
//           background-color: #04af9a;
//         }

//         .stepHeader-title {
//           font-family: $text;
//         }
//       }
//     }
//   }
// }
