@use '../../assets' as *;

.pageWrap {
  @include pageSectionWidth;
  .checkout {
    @include center;
    padding: 4rem;
    h1 {
      @include fontHeadingHero;
    }
  }
}

.stepHeader-counter {
  background-color: #04af9a;
}

.stepHeader-title {
  font-family: $text;
}

#checkout-app {
  .is-embedded {
    .layout {
    }
  }
}

.layout-main {
}
