@use '../../assets' as *;
.pageWrap {
  @include pageWidth;
  .heroContainer {
    z-index: 1;
    background-color: $grey-001;
    @include center;
    @media (max-width: 700px) {
      padding: 2rem 0;
    }

    .heroTextWrap {
      width: 40%;
      h1 {
        @include fontHeadingHero;
        margin-bottom: 2rem;
      }
      p {
        @include fontOne;
        font-weight: 800;
      }
    }
    .heroImage {
      width: 40%;
    }
  }

  .firstSection {
    padding: 4rem 4vw;
    @include center;

    @media (max-width: 700px) {
      flex-direction: column-reverse;
    }
    .firstSectionImage {
      width: 50%;
      margin-right: 2rem;
      @media (max-width: 700px) {
        width: 80%;
        margin-right: 0;
      }
    }

    .textWrap {
      width: 50%;
      @media (max-width: 700px) {
        width: 80%;
      }
      h2 {
        @include fontHeadingTwo;
        margin-bottom: 2rem;
        @media (max-width: 700px) {
          text-align: center;
        }
      }
      p {
        @include fontOne;
      }
      .sizesWrap {
        margin-top: 1rem;
        @include center;
        .sizes {
          margin: 0 5px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          @include center;

          span {
            @include fontOne;
            color: $white;
            font-weight: 800;
          }
        }

        // Play Sizes
        .size90 {
          background-color: #02e0c5;
        }
        .size110 {
          background-color: #fbdb65;
          span {
            color: $grey-1;
          }
        }
        .size130 {
          background-color: #1a658f;
        }
        .size150 {
          background-color: #686d9f;
        }
        .size170 {
          background-color: #d9d9d6;
          span {
            color: $grey-1;
          }
        }

        // Champion Sizes
        .size110C {
          background-color: #02e0c5;
        }
        .size120C {
          background-color: #fbdb65;
          span {
            color: $grey-1;
          }
        }
        .size130C {
          background-color: #ffbf35;
          span {
            color: $grey-1;
          }
        }
        .size140C {
          background-color: #1a658f;
        }
        .size150C {
          background-color: #f96b6b;
        }
        .size160C {
          background-color: #686d9f;
        }
        .size170C {
          background-color: #d9d9d6;
          span {
            color: $grey-1;
          }
        }
      }
    }
  }

  .secondSection {
    background-color: $green-1;
    padding: 4rem;
    // @include pageSectionWidth;
    @include center;
    flex-direction: column;
    h2 {
      @include fontHeadingTwo;
      color: $white;
      margin-bottom: 2rem;
    }

    p {
      text-align: center;
      @include fontOne;
      color: $white;
      max-width: 1000px;
    }
  }

  .thirdSection {
    padding: 4rem;
    @media (max-width: 700px) {
      padding: 2rem 0 0;
    }
    h2 {
      text-align: center;
    }
    ol {
      margin: 4rem 0;
      display: flex;
      @media (max-width: 700px) {
        flex-direction: column;
      }
      li {
        width: 33%;
        @media (max-width: 700px) {
          width: 100%;
        }
        p {
          b {
            @include fontHeadingThree;
            display: block;
            font-weight: 100;
            margin-bottom: 2rem;
            @media (max-width: 700px) {
              margin-bottom: 1rem;
            }
          }
          width: 80%;
          margin: 0 auto;
          @media (max-width: 700px) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  .heroContainerBottom {
    position: relative;
    .heroImage {
    }
    .heroOverlay {
      @include overlay;
    }
    // home hero text styles
    .heroTextWrap {
      @include heroTextWrap;
      h1 {
        @include fontHeadingHero;
        position: absolute;
        max-width: 32rem;
        color: $white;
        text-align: center;
        @media (max-width: 1165px) {
          max-width: 28vw;
        }
        @media (max-width: 590px) {
          max-width: 150px;
        }
      }
    }
  }
  .joinTheTeam {
    padding-top: 4rem;
    @include center;
    flex-direction: column;
    @include pageSectionWidth;
    margin-bottom: 4rem;
    h2 {
      @include fontHeadingTwo;
      margin-bottom: 1rem;
    }
    p {
      text-align: center;
      @include fontOne;
      max-width: 600px;
      font-weight: 700;
    }
  }
}
