@use '../../assets' as *;
.gamePageWrap {
  .heroContainer {
    z-index: 1;
    position: relative;
    .heroOverlay {
      @include overlay;
    }
    .heroTextWrap {
      @include heroTextWrap;
      h1 {
        @include fontHeadingHero;
        position: absolute;
        max-width: 70rem;
        color: $white;
        text-align: center;
        @media (max-width: 590px) {
          max-width: 250px;
        }
      }
    }
  }
  .firstSection,
  .secondSection,
  .innerThirdSection,
  .fourthSection {
    @include paddingSection;
    @include pageSectionWidth;
    width: 80%;

    h2 {
      @include fontHeadingTwo;
      margin-bottom: 2rem;
    }
    p {
      @include fontOne;
      width: 80%;
      @include paraCenterMargin;
      @media (max-width: 550px) {
        width: 100%;
        text-align: left;
      }
    }
  }
  .innerThirdSection {
    @media (max-width: 880px) {
      width: 100%;
      padding-bottom: 2rem;
    }
  }
  .secondSection {
    .textWrap {
      h2 {
        @include fontHeadingTwo;
        margin-bottom: 2rem;
      }
      p {
        @include fontOne;
      }
      margin-bottom: 1rem;
    }
  }
  .thirdSection {
    background-color: $grey-001;
    padding: 0;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 10px;
        flex: 0 0 20%;
        @media (max-width: 880px) {
          flex: 0 0 40%;
        }
        p {
          text-align: center;
          @include fontOne;
          font-weight: 800;
        }
      }
    }
  }
  .fourthSection {
    display: flex;
    @media (max-width: 880px) {
      flex-direction: column-reverse;
    }
    .socialLinks {
      width: 50%;
      @include center;
      @media (max-width: 880px) {
        width: 100%;
      }
    }
    .textWrap {
      width: 50%;
      margin-left: 2rem;
      @media (max-width: 880px) {
        width: 100%;
        margin: 0 0 2rem;
      }
    }
  }
}
