@use '../../assets' as *;
.pageWrap {
  @include pageWidth;
  .heroContainer {
    z-index: 1;
    position: relative;

    .videoWrap {
      height: 75vh;
      min-height: 500px;
      @media (max-width: 620px) {
        display: none;
      }
      .video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media (max-width: 620px) {
          display: none;
        }
      }
    }
    .heroImage {
      display: none;
      @media (max-width: 620px) {
        display: block;
      }
    }
    .heroOverlay {
      @include overlay;
    }
    // home hero text styles
    .heroTextWrap {
      @include heroTextWrap;
      h1 {
        @include fontHeadingHero;
        position: absolute;
        max-width: 26rem;
        color: $white;
        text-align: center;
        @media (max-width: 590px) {
          max-width: 29rem;
        }
      }
      // ids for hero text for each page if required
      #brandHeroText {
        max-width: 60vw;
      }
      #gamesHeroText {
        max-width: 35vw;
      }
    }
  }
  .firstSection,
  .thirdSection,
  .fourthSection,
  .fifthSection {
    padding: 4rem 4vw;
    h2 {
      @include fontHeadingTwo;
      margin-bottom: 1rem;
    }
    p {
      @include fontOne;
    }
  }
  .firstSection {
    @include center;
    flex-direction: column;
    .link {
      margin-top: 2rem;
      background-color: $green-1;
      @include buttonOne;
      color: $white;
    }
  }
  .secondSection {
    position: relative;
    .secondSectionBackground {
      @media (max-width: 590px) {
        display: none;
      }
    }

    .secondSectionText {
      max-width: 600px;
      top: calc(50% - 165px);
      right: 12%;
      position: absolute;
      @media (max-width: 1750px) {
        top: calc(50% - 136px);
      }

      @media (max-width: 1450px) {
        max-width: 470px;
        top: calc(50% - 150px);
      }

      @media (max-width: 1150px) {
        top: calc(50% - 99px);
        right: 8%;
      }

      @media (max-width: 800px) {
        max-width: 360px;
        top: calc(50% - 96px);
      }

      @media (max-width: 590px) {
        position: relative;
        top: 0;
        right: 0%;
        @include center;
        flex-direction: column;
        background-color: $green-1;
        position: relative;
        padding: 4rem 0;
        max-width: 100%;
        p {
          width: 80%;
        }
      }

      h2 {
        @include fontHeadingTwo;
        margin-bottom: 1rem;
        color: $white;
      }
      p {
        @include fontOne;
        color: $white;
        @media (max-width: 490px) {
          width: 80%;
        }
      }
      .link {
        margin-top: 2rem;
        background-color: $white;
        @include buttonOne;
        color: $grey-1;
        &:hover {
          color: $white;
        }
        @media (max-width: 1150px) {
          margin-top: 1.5rem;
        }
        @media (max-width: 590px) {
          margin-top: 1rem;
        }
      }
    }

    #brandSecondSectionText {
      @media (max-width: 1750px) {
        top: calc(50% - 136px);
      }

      @media (max-width: 1450px) {
        max-width: 520px;
        top: calc(50% - 160px);
      }

      @media (max-width: 1150px) {
        top: calc(50% - 99px);
        right: 8%;
      }

      @media (max-width: 800px) {
        max-width: 420px;
        top: calc(50% - 116px);
      }

      @media (max-width: 700px) {
        position: relative;
        top: 0;
        right: 0%;
        @include center;
        flex-direction: column;
        background-color: $green-1;
        position: relative;
        padding: 4rem 0;
        max-width: 100%;
        p {
          width: 80%;
        }
      }
    }

    #brandSecondSectionBackground {
      @media (max-width: 700px) {
        display: none;
      }
    }
  }

  #storiesSecondSection {
    background-color: $green-1;
    padding: 4rem 4vw 4.5rem;

    h3,
    h2 {
      @include fontHeadingTwo;
      text-align: center;
      margin: 1rem;
      color: $white;
    }

    h3 {
      margin-top: 0;
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 1rem;
      @media (max-width: 1750px) {
        font-size: 40px;
      }

      @media (max-width: 1150px) {
        font-size: 35px;
      }
      @media (max-width: 590px) {
        font-size: 25px;
      }
    }
  }
  .firstSection,
  .thirdSection,
  .fourthSection,
  .fifthSection {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      // font-size: 30px;
    }
  }

  // Alternative layout for first section
  // Used on the following pages
  // * Brand Page
  .firstSectionWrap {
    display: flex;
    .firstSection {
      width: 50%;
      align-items: flex-start;
      h2,
      p {
        text-align: left;
        width: 100%;
      }
    }
    .firstSectionImage {
      padding: 4.333333rem;
      width: 50%;
      padding-left: 0;
      @include center;
      .imageWrap {
        width: 80%;
        padding-bottom: 4rem;
      }
    }
    @media (max-width: 620px) {
      flex-direction: column;
      .firstSection {
        width: 80%;
        margin: 0 auto;
        align-items: center;
        h2,
        p {
          text-align: center;
        }
      }
      .firstSectionImage {
        margin: 0 auto;
        width: 80%;
        padding: 4rem 4vw;
        @include center;
        @media (max-width: 590px) {
          padding: 1rem 4vw;
        }
        .imageWrap {
          width: 100%;
        }
      }
    }
  }
  .heroTwo,
  .firstSection,
  .fifthSection,
  .firstSectionWrap,
  #brandThirdSection {
    @include pageSectionWidth;
  }

  .fifthSection {
    p {
      max-width: 600px;
      font-weight: 700;
    }
  }
  .thirdSection {
    background-color: $grey-0;
    @include center;
    flex-direction: column;
    .link {
      @include buttonOne;
      background-color: $green-1;
      color: $white;
      margin: 0 auto;
    }
  }

  @media (max-width: 700px) {
  }

  #brandThirdSection {
    background-color: $white;
  }
  .fourthSection {
    h2 {
      margin-bottom: 4.333333rem;
    }
  }
  #brandFourthSection {
    background-color: $grey-0;
    .logoWrap {
      width: 90%;
      margin: 0 auto;
      padding: 4rem 0;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      .logo {
        width: 80%;
      }
    }
  }
}
