@use '../../assets' as *;

.searchWrap {
  box-sizing: border-box;
  margin: 4rem;
  @media (max-width: 770px) {
    margin: 2rem;
  }
  .heroContainer {
    margin-bottom: 2rem;
    @include center;
    align-items: flex-start;
    flex-direction: column;
    @media (max-width: 1150px) {
      margin-bottom: 0;
    }
    .titleDiv {
      h1 {
        @include fontHeadingTwo;
      }
    }

    // Banner For Chammpion & Play
    .banner {
      min-height: 400px;
      box-sizing: border-box;
      width: 100%;
      background-color: $green-1;
      @media (max-width: 1150px) {
        min-height: 320px;
      }

      .textWrap {
        margin: 2rem;
        h2 {
          @include fontHeadingTwo;
          color: $white;
          margin-bottom: 2rem;
        }
        p {
          @include fontOne;
          font-weight: 800;
          color: $white;
          max-width: 40%;
          margin-bottom: 2rem;
        }
        .link {
          @include buttonOne;
          background-color: $white;
          &:hover {
            color: $white;
          }
        }
      }
    }

    .productsHero {
      width: 100%;
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      @media (max-width: 1023px) {
        margin: 3rem 0 2rem;
      }
      @media (max-width: 770px) {
        grid-template-columns: 1fr;
      }
      // Banner For Shop All
      .banners {
        position: relative;
        background-color: $green-1;
        min-height: 400px;
        display: flex;
        transition: 200ms;
        &:hover {
          background-color: $grey-1;
        }
        @media (max-width: 1150px) {
          min-height: 320px;
        }
        @media (max-width: 990px) {
          min-height: 280px;
        }
        .textWrap {
          h2 {
            margin: 2rem;
            @include fontHeadingTwo;
            color: $white;
            @media (max-width: 990px) {
              font-size: 45px;
              line-height: 40px;
            }
          }
          p {
            @include fontOne;
            font-weight: 800;
            color: $white;
            margin: 0 2rem 2rem;
            max-width: 80%;
          }
        }

        .imageWrap {
          width: 100%;
          overflow: hidden;
          .image {
            width: 60%;
            position: absolute;
            bottom: 0;
            right: 0;
            @media (max-width: 990px) {
              width: 50%;
            }
          }
          .imagePlay {
            top: 0;
          }
          .polygon {
            width: calc(100% + 1px);
            height: calc(100% + 1px);
            padding-right: 1px;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
            background-color: $grey-001;
          }
        }
      }

      .banners:nth-child(2) {
        margin-right: 0;
      }
    }
  }

  // Categories & Relevance styles

  .category {
    box-sizing: border-box;
    border: 1px solid $grey-01;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    @include fontOne;
  }
  .dropDown {
    @media (max-width: 1023px) {
      background-color: $green-1;
    }

    .link {
      @include fontOne;
      color: $grey-1;
      font-size: 15px;
      @media (max-width: 1023px) {
        color: $white;
        &:hover {
          color: $grey-1;
        }
      }
    }

    .link:nth-child(1) {
      font-weight: 700;
      @media (max-width: 1023px) {
        color: $white;
        &:hover {
          color: $white;
          background-color: $green-1;
          border-radius: 10px;
        }
      }
    }
  }
}
.joinTheTeam {
  @include center;
  flex-direction: column;
  @include pageSectionWidth;
  margin-bottom: 4rem;
  h2 {
    @include fontHeadingTwo;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    @include fontOne;
    max-width: 600px;
    font-weight: 700;
  }
}
