@use '../../assets' as *;

.searchWrap {
  @media (max-width: 640px) {
    margin: 1rem;

    .category {
      border: 1px solid $grey-01;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 10px;
      @include fontOne;
    }
    .dropDown {
      background-color: $green-1;
    }
  }
}
