@use '../../assets' as *;

.searchWrap {
  box-sizing: border-box;
  margin: 4rem 2rem;
  .heroContainer {
    margin: 0rem;
    @include center;
    align-items: flex-start;
    flex-direction: column;
    .titleDiv {
      h1 {
        @include fontHeadingTwo;
      }
    }

    .productsHero {
      width: 100%;
      margin: 3rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      .banners {
        position: relative;
        background-color: $green-1;
        min-height: 400px;
        display: flex;
        .textWrap {
          h2 {
            margin: 2rem;
            @include fontHeadingTwo;
            color: $white;
          }
          p {
            @include fontOne;
            font-weight: 800;
            color: $white;
            margin: 0 2rem 2rem;
            max-width: 80%;
          }
        }

        .imageWrap {
          width: 100%;
          overflow: hidden;
          .image {
            width: 60%;
            position: absolute;
            bottom: 0;
            right: 0;
          }
          .imagePlay {
            width: 60%;
            position: absolute;
            top: 0;
            right: 0;
          }
          .polygon {
            width: calc(100% + 1px);
            height: calc(100% + 1px);
            padding-right: 1px;
            clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
            background-color: $grey-001;
          }
        }
      }

      .banners:nth-child(2) {
        margin-right: 0;
      }
    }
  }

  // Categories & Relevance styles

  .category {
    box-sizing: border-box;
    border: 1px solid $grey-01;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    @include fontOne;
  }
  .dropDown {
    @media (max-width: 1023px) {
      background-color: $green-1;
    }

    .link {
      @include fontOne;
      color: $grey-1;
      font-size: 15px;
      @media (max-width: 1023px) {
        color: $white;
      }
    }

    .link:nth-child(1) {
      font-weight: 700;
    }
  }
}
.joinTheTeam {
  @include center;
  flex-direction: column;
  @include pageSectionWidth;
  margin-bottom: 4rem;
  h2 {
    @include fontHeadingTwo;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    @include fontOne;
    max-width: 600px;
    font-weight: 700;
  }
}
