@use '../../../assets/' as *;
.topbar {
  display: flex;
  background-color: $grey-1;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  @media (max-width: 700px) {
    padding: 0 10px;
    background-color: $green-1;
  }
  .linksWrap {
    display: flex;
    align-items: center;
    .login {
      margin-right: 20px;
      .topBarLinks {
        @include navFont;
        color: $white;
      }
      .topBarLinks:nth-child(1) {
        margin-right: 10px;
      }
    }
    .socialLinks {
      align-items: center;
      display: flex;
      a {
        @include center;
        margin-right: 10px;
      }
    }
  }
}
