@use "../../../assets" as *;
.optionWrap {
  h2 {
    margin-top: 0.7rem;
    @include fontTwo;
    color: $grey-1;
    @media (max-width: 1023px) {
      text-align: center;
    }
  }

  .options {
    margin: 1rem 0;
    display: flex;
    @media (max-width: 1023px) {
      justify-content: center;
    }
  }
}

.color90 {
  color: $green-1;
}

.color110 {
  color: $yellow-1;
}

.color130 {
  color: $blue-1;
}

.color150 {
  color: $purple-1;
}

.color170 {
  color: $grey-0;
}

.colorDefault {
  color: $white;
}
